.foro-section {
    margin: 20px 0 0px 0;
}

.foro-section-publ {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.foro-section-publ-img {
    width: 160px;
    border-radius: 70px;
}

.foro-section-publ-descrip {
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: end;
    justify-items: start;
    margin: 0 0 0 20px;
}

.foro-section-publ-descrip h4 {
    padding-top: 25px;
}

.foro-section-publ-descrip-button {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.foro-section-publ-descrip-button button {
    background: transparent;
    border-style: none;
    cursor: pointer;
}

.foro-section-publ-descrip-button button:hover {
    color: rgb(99, 99, 99);
}

.foro-section-publ-descrip-button-icon {
    font-size: 15px
}