.login {
    display: flex;
/*     justify-content: center;
    align-items: center; */
}

.login-aside {
    width: 50%;
    background-color: #196C84;
}

.login-form {
    width: 50%;
    padding: 170px 0 170px 0;
}

.login-container {
    max-width: 1140px;
    margin: auto;
}

.login-center {
    display: flex;
    align-content: center;
    justify-content: center;
}

.login-reg-section {
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: #ffffff;
    margin: 0 auto;
    width: 100%;
    /* border: 1px solid #e5e5e5; */
/*     box-shadow: 0 14px 28px rgb(0 0 0 / 25%),
        0 10px 10px rgb(0 0 0 / 22%); */
}

.login-reg-section h2 {
    letter-spacing: 1px;
    font-size: 30px;
    color: rgb(37, 37, 37);
    font-weight: 600;
}

.login-reg-section label {
    display: block;
    width: 260px;
    margin: 25px auto 0;
    text-align: center;
}

.login-reg-section label span {
    font-size: 16px;
    color: #cfcfcf;
    text-transform: uppercase;
}

.login-reg-section label input {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    text-align: center;
}

input {
    border: none;
    outline: none;
    background: none;
}

.login-reg-section-forgotpass {
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: #cfcfcf;
    cursor: pointer;
}

.login-reg-section-forgotpass:hover {
    color:#a0a0a0;
}

.login-reg-section-reg {
    margin-top: 40px;
    margin-bottom: 20px;
    background: #196C84;
    text-transform: uppercase;
}

.login-reg-section-reg:hover {
    background: #2186a1;
}

.regButton {
    width: 45%;
    color: #ffffff;
    height: 32px;
    border-radius: 10px !important;
    width: 230px !important;
    border: 1px solid;
    letter-spacing: 1px;
    padding: 0px 45px;
    cursor: pointer;
}

.googleButton {
    height: 25px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 13px;
    border: 2px solid #196C84;
    background-color: #D3E6EB;
    color: #196C84;
    width: auto;
    border: 1px solid;
    letter-spacing: 1px;
    padding: 0px 45px;
    cursor: pointer;
}

.regButton:focus,
.googleButton:focus {
    outline: none;
}   

.googleButton:hover {
    color: #7c92c4;
    border: 2px solid #99a5c2;
}
