.quiz-footer {
    color: #fff;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #21809B;
}

.quiz-footer p {
    font-size: 20px;
}

.quiz-footer-p-img {
    width: 23px;
}

.quiz-footer-div {
    color: rgb(255, 255, 255);
    display: grid;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    justify-items: center;
}

.quiz-footer-div button {
    width: 150px;
    height: 50px;
    border-color: #196C84;
    background-color: #fff;
    color: #196C84;
    font-weight: 700;
    border-radius: 12px;
    border: 1px solid;
    font-size: 20px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: transform 80ms ease-in;
}

.quiz-footer-div button:hover {
    background-color: #c7c7c7;
}