.foro {
    max-width: 1375px;
    margin: 0 auto;
    display: flex;
}

.foro-section {
    width: 90%;
}

.filters-section {
    width: 30%;
    margin-top: 30px;
}

.filters-section-div {
    background-color: #183A45;
    border-radius: 36px;
    box-shadow: 0 14px 28px rgb(0 0 0 / 25%),
    0 10px 10px rgb(0 0 0 / 22%);
    padding: 25px 10px 25px 10px;
}

.filters-section-div-perfil {
    background-color: #77B08E;
    border-radius: 36px;
    display: flex;
    align-items: center;
}

.filters-section-div-perfil img {
    width: 130px;
    padding: 15px 15px 15px 15px;
    border-radius: 70px;
}

.filters-section-div-perfil h3 {
    color:#fff;
}